body { 
    font-family: Helvetica; 
    margin: 32px; 
}


#chart { 
    margin-top: 12px; 
}
.tooltip {
    position: absolute;
    background: white;
    border: 1px solid #dfdfdf;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    padding: 8px;
    border-radius: 8px;
    pointer-events: none;
    font-size: 16px;
}

#decadeButtons { 
    margin-top: 24px; 
}

#decadeButtons button { 
    margin-right: 4px; 
    margin-bottom: 6px;
    padding: 6px 16px;
    background: #E8E8E8;
    border: 1px solid #D0D0D0;
    border-radius: 8px;
}

#decadeButtons :hover { 
    background-color: #d4d4d4; 
}

#decadeButtons button.selected {
    background-color: #4070ff;
    border: 1px solid #4070ff;
    color: white;
}

#xSelect { 
    margin-top: 8px;
    padding-left: 4px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #D0D0D0;
    border-radius: 6px;
    width: 200px;
}

.Controls {
    padding-top: 8px;
    padding: 24px;
    background-color: #f6f6f6;
    border-radius: 8px;
}

.Container {
    display: flex;
}

label {
    font-weight: bold;
}